<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Hacked' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>51893a49-09c7-4564-946d-2bd263613731</InstrumentationKey>
</ApplicationInsights>