<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0-windows10.0.19041.0</TargetFramework>

    <WindowsPackageType>MSIX</WindowsPackageType>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <AppxPackageSigningEnabled>true</AppxPackageSigningEnabled>
    <PackageCertificateThumbprint>6317f13d6d4324b3f956e732255c521558ecb235</PackageCertificateThumbprint>

    <UapAppxPackageBuildMode>SideloadOnly</UapAppxPackageBuildMode>
    <AppxBundle>Always</AppxBundle>
    <AppxBundlePlatforms>x64|arm64</AppxBundlePlatforms>
    <PlatformTarget>AnyCPU</PlatformTarget>
  </PropertyGroup>
</Project>
